body {
	font-family: Arial, sans-serif;
	background-image: url(images/596243.jpg);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#game-container {
	width: 80%;
	max-width: 800px;
	background-color: rgb(161, 173, 255);
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

#hud {
	display: flex;
	gap: 10rem;
	justify-content: space-between;
}

#hud-item {
	flex: 1;
}

#progressText {
	font-size: 18px;
}

#progressBarContainer {
	height: 20px;
	background-color: #ffffff;
	border-radius: 1rem;
	border: 1px solid #000000;
}

#progressBar {
	height: 100%;
	background-color: hsl(140, 67%, 47%);
	border-radius: 1rem;
	width: 0; /* Start with an empty progress bar */
}

#question-container {
	margin-top: 20px;
}

#question {
	font-size: 24px;
}

#options {
	padding: 0;
	list-style-type: none;
}

#options li {
	padding: 10px;
	background-color: #bacaff; /* Gold */
	border: 1px solid #353535;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	color: #111;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2); /* Add shadow */
	transition: transform 0.3s ease; /* Add transition for hover effect */
}

#options li:hover {
	cursor: pointer;
	background-color: #b1c3ff; /* Orange */
	transform: scale(1.05); /* Slightly enlarge the option on hover */
}

#feedback {
	margin-top: 20px;
	font-size: 18px;
	
}

#next-btn {
	padding: 10px 20px;
	background-color: #3c6de0;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	border: 1px solid #000000;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2); /* Add shadow */
	transition: background-color 0.3s ease; /* Add transition for hover effect */
}

#next-btn:hover {
	background-color: #1e90ff; /* DodgerBlue */
}

#score,
#totalScore {
	font-weight: bold;
}
